<% if total > 0 %>
<div id="pagination">
	<%
	  parameters = ["q=#{q}"]
    parameters += parmas.collect {|key, val| "#{key}=#{val}"} if parmas
		prev_page = (page == 1 ? page : page - 1)
		next_page = page + 1
	%>
	<% unless page == 1 %>
	<a href="/search?page=<%= prev_page %>&<%= parameters.join('&') %>">Prev</a>
	<% end %>
	<span><%= page %></span>
	<% unless page >= 8 %>
	<a href="/search?page=<%= next_page %>&<%= parameters.join('&') %>">Next</a>
	<% end %>
</div>
<% end %>

