<% if total > 0 %>
<div id="pagination">
	<%
		prev_page = (page == 1 ? page : page - 1)
		next_page = page + 1
	%>
	<% unless page == 1 %>
	<a href="/<%= type %>?page=<%= prev_page %>&<%= q_string(parmas) %>">Prev</a>
	<% end %>
	<span><%= page %></span>
	<% unless page >= 8 %>
	<a href="/<%= type %>?page=<%= next_page %>&<%= q_string(parmas) %>">Next</a>
	<% end %>
</div>
<% end %>

