<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<link rel="SHORTCUT ICON" href="/images/logo.jpg">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Search and Share : <%= @site %>">
	<meta name="description" content="Search and Share : <%= @site %>">
	
	<title>Search & Share : <%= @site %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/all.css?r=7" media="screen" />
</head>
<body style="margin: 0pt; padding: 0pt; overflow: hidden; height: 100%;">
  <div style="display:none">
    <% 
    begin
      uri = URI.parse(@site)
      10.times do 
    %>
      <h1>Search and Share "<%= uri.path.split("/").join(", ")%>" on <%= uri.host %> with the help of <%= uri.query.split("&").join(",") if uri.query %></h1>
    <% 
      end
    rescue => e
    end %>
  </div>
  <div style="position: absolute; z-index: 3; width: 100%;height:100px">
  	<div class="search_box">
  		<div class="logo">
  			<a href="/"><img src="/images/logo.jpg" width="100" height="75" alt="Home" title="Home" style="border:0"></a>
  		</div>
  		<div class="box">
  			<form action="/search" method="get" id="search_form">
  				<input id="q" name="q" type="text" value="" />
  				<input id="search" type="submit" value="Search" />
  				<span id="powered_by">Powered by&nbsp;<img src="/images/google.png" alt="Google" title="Google" /></span>
  			</form>
  		</div>
  		<div class="help">
  		  <a href="http://www.addthis.com/bookmark.php?v=20" class="addthis_button_favorites"><span>Add to Favorites</span></a>
  			<a href="http://www.addthis.com/bookmark.php?v=20" onclick="return addthis_open(this, '', document.location.href, 'I Share Web')" onmouseout="addthis_close()" onclick="return addthis_sendto()">Share Me</a>
  		  <a href="#" id="remove_iframe"><span>Remove Frame</span></a>
  		</div>
  		<div class="clear"></div>
  	</div>
  	<div class="search_spacer">
      <div id="c_ads">
      <script type="text/javascript"><!--
        google_ad_client = "pub-4565193161693491";
        /* Content Links Ad */
        google_ad_slot = "7056740386";
        google_ad_width = 468;
        google_ad_height = 15;
        //-->
        </script>
        <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
		  </div>
  	</div>
  	<div class="clear"></div>
  	<div id="search_results">
  		<noscript><h1><img src="/images/sad.gif"/> Javascript is disabled. Please enable Javascript to use this site.</h1></noscript>
  	</div>
  </div>
  <%
    site_url = (@site.index('?') ? "#{@site}&iswt=#{Time.now.to_i}" : "#{@site}?iswt=#{Time.now.to_i}")
  %>
  <iframe id="show_site_control" src="<%= site_url %>" frameborder="0" style="display:none;position: absolute; background: none repeat scroll 0% 0% transparent; width: 100%; height: 100%; top: 100px; z-index: 1;" noresize="noresize"></iframe>
  <div id="progress"></div>
	<div id="scripts">
		<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAM2Rp1xybAA2YXKy8h70rqxQkyrUjGc-hZsdlyhMhE6gjwkxpthQdMeuzgeBclWJCAqIBJgDshTXWQg"></script>
	    <script type="text/javascript">
			var country_code = null;
			google.load("search", "1");
			if (google.loader.ClientLocation) {
				country_code = google.loader.ClientLocation.address.country_code.toLowerCase();
			}

			var addthis_config =
      {
        ui_click:true,
        data_track_clickbac:true,
        username:'letmebuy',
        services_compact:'favorites,email,facebook,twitter,orkut,myspace,reddit,digg,delicious,stumbleupon,googlebuzz,buzz,more',
        ui_header_background:'#FFFFFF'
      };
		</script>
		<script type="text/javascript" src="/javascripts/jquery-1.3.2.min.js"></script>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pub=letmebuy"></script>
		<script type="text/javascript" src="/javascripts/suggest.min.js"></script>	
		<script type="text/javascript" src="/javascripts/show.js?r=22"></script>
	</div>
	
	<div class="tracker">
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-11591849-1");
		pageTracker._trackPageview();
		} catch(err) {}</script>
	</div>
</body>
</html>